
NhaTro/.vs/config/applicationhost.config
NhaTro/.vs/config/applicationhost.config
NhaTro/.vs/config/applicationhost.config
NhaTro/NhaTro/bin/NhaTro.dll
NhaTro/NhaTro/bin/NhaTro.pdb
NhaTro/NhaTro/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
NhaTro/NhaTro/obj/Debug/NhaTro.csproj.GenerateResource.Cache
NhaTro/NhaTro/obj/Debug/NhaTro.csprojResolveAssemblyReference.cache
*.dll
NhaTro/NhaTro/obj/Debug/NhaTro.pdb
