<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/NguoiDungLayoutCss/style.css" rel="stylesheet" />
    <link href="~/Content/NguoiDungLayoutCss/coin-slider.css" rel="stylesheet" />
    <link href="~/Content/NguoiDungLayoutCss/style.css" rel="stylesheet" />
    <link href="~/Content/NguoiDungLayoutCss/NguoiDungLayoutCss.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="~/Scripts/cufon-yui.js"></script>
    <script src="~/Scripts/cufon-quicksand.js"></script>
    <script src="~/Scripts/jquery-1.4.2.min.js"></script>
    <script src="~/Scripts/script.js"></script>
    <script src="~/Scripts/coin-slider.min.js"></script>
    
</head>
<body>

    <div id="main_container">
        <div id="header">
            <div id="logo"> <a href="#"><img src="~/images/nhatro66_logo12.png" width="160" height="100" alt="" border="0"></a> </div>
            <div class="banner_adds"></div>
            <div class="menu">
                <ul>
                    <li><a href="#">Trang chủ</a></li>
                    <li>
                        <a href="login.html">
                            Giới thiệu
                            <!--[if IE 7]><!-->
                        </a>
                        <!--<![endif]-->
                        <!--[if lte IE 6]><table><tr><td><![endif]-->
                        <!--[if lte IE 6]></td></tr></table></a><![endif]-->
                    </li>
                    <li>
                        <a href="list.html">
                            Liên hệ
                            <!--[if IE 7]><!-->
                        </a>
                        <!--<![endif]-->
                        <!--[if lte IE 6]><table><tr><td><![endif]-->
                        <!--[if lte IE 6]></td></tr></table></a><![endif]-->
                    <li><a href="#">Đăng tin</a></li>
                    <li><a href="">Đăng ký</a></li>
                    <li><a href="#">Đăng nhập</a></li>
                </ul>
            </div>
        </div>
        <div id="main_content">
            <div class="column1">
                <div class="left_box">
                    <div class="top_left_box"> </div>
                    <div class="center_left_box">
                        <div class="box_title"><span>Tìm kiếm</span></div>
                        <div class="form">
                            <div class="form_row">
                                <label class="left">Tỉnh thành: </label>
                                @using (Html.BeginForm("KetQuaTimKiem","Timkiem"))
                                {
                                    @Html.TextBox("txtTimKiem", "", htmlAttributes: new { @class = "TextboxTimKiem", @placeholder = "Nhập vào từ khoá cần tìm..." })
                                    <div id="imgTimKiem">
                                        <div style="float:right; padding:10px 25px 0 0;">
                                            <input type="image" src="~/images/find.gif" />
                                        </div>
                                    </div>
                                }
                                

                            </div>
                            
                            
                            <div class="form_row">
                                <label class="left">Quận huyện: </label>
                                <input type="text" class="form_input" />
                            </div>
                            <div style="float:right; padding:10px 25px 0 0;">
                                <input type="image" src="~/images/find.gif" />
                            </div>
                        </div>
                    </div>
                    <div class="bottom_left_box"> </div>
                </div>
                <div class="left_box">
                    @*<div class="top_left_box"> </div>
                    <div class="center_left_box">
                        <div class="box_title"><span>Join</span> our newsletter:</div>
                        <div class="form">
                            <div class="form_row">
                                <label class="left">Email: </label>
                                <input type="text" class="form_input" />
                            </div>
                            <div style="float:right; padding:10px 25px 0 0;">
                                <input type="image" src="~/images/join.gif" />
                            </div>
                        </div>
                    </div>*@
                    <div class="bottom_left_box"> </div>
                </div>
                <div class="left_box">
                    <div class="top_left_box"> </div>
                    <div class="center_left_box">
                        <div class="box_title"><span>Thông tin liên hệ:</span></div>
                        <div class="form">
                            <div class="form_row">
                                <img src="~/images/contact_envelope.gif" width="50" height="47" border="0" class="img_right" alt="" />
                                <div class="contact_information">
                                    <i class="fa fa-envelope"></i>
                                    Email: info@hachilet.com<br />
                                    <i class="fa fa-phone"></i>
                                    Điện thoại: 0234 789 90<br />
                                    <i class="fa fa-map-marker"></i>
                                    Địa chỉ: 87 Nguyễn Thị Minh Khai<br />
                                    <br />
                                    <span>www.hachilet.com</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bottom_left_box"> </div>
                </div>
            </div>
            <!-- end of column one -->
            @*<div class="column2">
                <div class="main_text_box">
                    <h2>About Us</h2>
                    <p> &quot;Chúng tôi luôn cố gắng đem lại những thông tin nhanh chóng và chính xác cho mọi người. Rất mong nhận được sự ủng hộ giúp đỡ để cùng nhau xây dựng một kênh thông tin về nhà trọ phòng trọ tốt dành cho mọi người.&quot; </p>
                </div>
                <div class="main_text_box">
                    <h2>Request a proposal</h2>
                    <div class="proposal">
                        <p class="proposal_text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    </div>
                </div>
            </div>*@
            <!-- end of column two -->
            <div>
                @Html.Action("NhathuePartial", "Nhathue")
            </div>
            <!-- end of column three -->
            @RenderBody()
            <!-- end of column four -->
        </div>
        <!-- end of main_content -->
        <div id="footer">
            <div id="copyright">
                <div style="float:left; padding:3px;"><a href="#"><img src="images/footer_logo.gif" width="42" height="35" alt="" border="0" /></a></div>
                <div style="float:left; padding:14px 10px 10px 10px;"> Hachinet.&copy; Hallo VietNam <a href="http://csscreme.com" style="color:#772c17;"></a></div>
            </div>
            <ul class="footer_menu">
                <li><a href="#" class="nav_footer"> Home </a></li>
                <li><a href="#" class="nav_footer"> Selling Homes </a></li>
                <li><a href="#" class="nav_footer"> Buying Homes </a></li>
                <li><a href="#" class="nav_footer"> Renting Homes</a></li>
                <li><a href="#" class="nav_footer"> RSS </a></li>
                <li><a href="#" class="nav_footer"> Contact </a></li>
            </ul>
        </div>
    </div>
    <!-- end of main_container -->                  
</body>
</html>
