
<div class="column3">
    <div class="small_title">Tin mới nhất</div>
    <div class="offer_box">
        <a href="#"><img src="~/images/p1.jpg" width="130" height="98" class="img_left" alt="" border="0" /></a>
        <div class="offer_info">
            <span>For Sale 150 000 $</span>
            <p class="offer"> &quot;Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.&quot; </p>
            <div class="more"><a href="#">...more</a></div>
        </div>
    </div>
    <div class="offer_box">
        <a href="#"><img src="~/images/p2.jpg" width="130" height="98" class="img_left" alt="" border="0" /></a>
        <div class="offer_info">
            <span>For Sale 220 000 $</span>
            <p class="offer"> &quot;Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.&quot; </p>
            <div class="more"><a href="#">...more</a></div>
        </div>
    </div>
</div>