
@{

                ViewBag.Title = "Dangnhap";
                Layout = "~/Views/Layout/NguoiDungLayout.cshtml";
}
<div>@ViewBag.thongbao</div>
@using (Html.BeginForm())
{<span>Tài Khoản :</span> <br />
    @Html.TextBox("txtTaiKhoan");<br />
    <span>Mật khẩu :</span> <br />
    @Html.TextBox("txtMatKhau");<br />
    <input type="submit" value="Đăng nhập" id ="btnsubmit" name="btnsubmit" />
}

