#Dautrang{
  position: relative;
  padding: 1em;
/*  border-radius: 4px; */
    color:white;
   background-color: #fff;
  background: #303030;
  text-align: center;
}
#Toantrang{
    width:100%;
    position:relative;
}
.menu_nav ul li.DangnhapDangky{
    float:right;
}
#lblPage {
    text-align: center;
    padding-top: 10px;
    height: 20px;
    clear: both;
    font-weight: normal;
}
.footer-detail footer-about-us{
    float:right;
}
